
<mat-form-field style="margin-right: 30px;">
  <mat-label>Region</mat-label>
  <mat-select   [(value)]="region">
    <mat-option value="asia" (click)="getCountries(region)">asia</mat-option>
    <mat-option value="europe" (click)="getCountries(region)">europe</mat-option>
  </mat-select>
</mat-form-field>


  <mat-form-field [ngStyle]="(showCountries())? {'visibility': 'visible'} : {'visibility': 'hidden'}">
    <mat-label>Country</mat-label>
    <mat-select [(value)]="select_country">
      <mat-option (click)="selectCountry(select_country)"
       *ngFor="let country of countries"
        value="{{country.name}}"> {{country.name}} </mat-option>
    </mat-select>
  </mat-form-field>

  <country-detail [country]="country" [ngStyle]="(showCountries())? {'visibility': 'visible'} : {'visibility': 'hidden'}" ></country-detail>
<!-- list over countries when show to the user  done-->
<!-- prevent the user from seeing Country dropdown and the country-detail component  -->
