<!-- When this button is click it shows the a table with the infromtion that was provided -->

<button (click)="showTable()" mat-raised-button color="primary">Country Load</button>
<ng-container *ngIf="country && displayTable">
<!-- show a table when top button is click with infromation of selected from country drop down -->
<table>
    <tr>
        <th>Name</th>
        <th>Capital</th>
        <th>Population</th>
        <th>Currencies</th>
        <th>Flag</th>
    </tr>
    <tr>
        <td>{{country.name}}</td>
        <td>{{country.capital}}</td>
        <td>{{country.population}}</td>
        <td>{{country.currencies[0].code}}</td>
        <td> <img src="{{country.flag}}" alt="{{country.name}}" height="70px"/></td>
    </tr>
</table>
</ng-container>
